html {
  font-size: 62.5%;
}

#sudokuContainer table {
  border-collapse: collapse;
}

#sudokuContainer td {
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
}

#sudokuContainer tr:nth-of-type(3),
#sudokuContainer tr:nth-of-type(6),
#sudokuContainer tr:nth-of-type(9) {
  border-bottom: 2px solid #000;
}

#sudokuContainer td:nth-of-type(3),
#sudokuContainer td:nth-of-type(6),
#sudokuContainer td:nth-of-type(9) {
  border-right: 2px solid #000;
}

#sudokuContainer td:nth-of-type(1) {
  border-left: 2px solid #000;
}

#sudokuContainer tr:nth-of-type(1) {
  border-top: 2px solid #000;
}

#sudokuContainer select {
  width: 3.5rem;
}

#sudokuContainer td select,
#sudokuContainer:not(.gameWon) td:not(.revealed):hover span,
#sudokuContainer select:focus + span {
  display: none;
}

#sudokuContainer:not(.gameWon) td:not(.revealed):hover select,
#sudokuContainer td:not(.revealed) select:focus {
  display: inline;
}

#sudokuContainer:not(.gameWon) #gameWonSpan {
  display: none;
}

#sudokuContainer td span {
  font-size: 1.8rem;
}

.revealed {
  background-color: #e7e7e7;
}

.gameWon td:not(.revealed) {
  background-color: #bdedff;
}
